* {
  font-family: 'Roboto Condensed', sans-serif;
}

.title {
  color: black;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.small {
  color: black;
  font-size: 14px;
  text-align: center;
}

#contact-container {
  margin-top: 100px; 
  margin-bottom: 130px;
  margin-right: 100px; 
  padding-left: 50px;

}