* {
  font-family: 'Roboto Condensed', sans-serif;
}

.headers{
  font-size: 25px;
  font-weight: 500;
}

p{
  
  font-size: 14px;
}
ul{
  list-style-type: disc;
}

li{
  text-align: justify;
  font-size: 14px;

}

#info-container{
  margin-top: 50px;
  margin-left:100px;
  margin-bottom:30px;

}