.item p {
  margin-top: 0; 
}

.item {

  text-align: center; 
}

.item img {
  max-width: 100%; 
}

.item:hover img {
  cursor: pointer;
  opacity: 0.5;
}

.item:hover #name {
  text-decoration: underline;
  cursor: pointer;
}
img{
  width: 255px;
  height: 270px;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-decoration: none;
  margin-left: 14px;
}

#name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  margin-top: 0; 
}
