.grid-wrapper {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; /* Center items vertically within the grid */
}

.gray, h3 {

  color: rgb(168, 168, 168);
  font-size: 14px;
}

h3 {
  font-weight: bold;
}

.button-container {
  display: flex;
  align-items: center;
}

button {
  padding: 12px 20px; /* Adjust padding as needed */
  border-color: black;
  border-width: thin;
  background-color: white;
  font-size: 12px;
  display: flex; /* Use flexbox to align content horizontally */
  align-items: center; /* Center vertically */
}

.arrow {
  margin-left: auto; 
  padding-right: 10px; 
  font-size: 20px;
}

#buttonholder {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  height: 100%; 
}

#image-item {
  width: 500px;
  height: 515px;
}

.item-name {

  font-size: 25px;
}

.item-price,.bold-header {

  font-weight: bold;
  font-size: 14px;
}
.item-price{
  font-size: 20px;
}

.shipping-text,.shipping{
  font-size: 12px;
}
.shipping-text{
  border-bottom: 1px solid #000;
  margin-left: 0px;
  font-weight: normal;

}
.standard{
  font-family: 'Roboto Condensed';
  font-size: 14px;
}

.care,.disclamier,.attention{
  margin-bottom: 40px;
  margin-top: 40px;
}


#size-select{
  width: 300px;

  height: 50px;
}
label {
  display: block; 
  margin-bottom: 5px; 
}