.up-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px; 
}

#div-logo {
  text-align: center;
  flex-grow: 1; 
}

#icons {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
 
}

i {
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}


#div-logo img {
  max-width: 100%; 
}

.bot-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
 
}

#emailsub{
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  align-items: right;
  
}

.bot-icons {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  font-size: 14px;
  margin-right: 600px;
}

.bot-icons i {
  margin-right: 5px;
  margin-left: 5px;
  padding: 0;
}

a {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 20px;
}

p {
  margin: 0;
}

#emailsub{
  margin-left: 30px;
  display: flex; 
}

#member-button {
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  font-size: 12px;
  background-color: black;
  border: none;
  flex: 1; 
  margin: 0; 
  padding: 7px 5px; 
}

#member-button {
  margin-left: -1px;
  padding-left: 15px;
  padding-right: 15px; 
}

.topnav {
  margin-right: 100px;
  text-align: center; 
}


.topnav a {
  font-size: 18px;
}

input{
  height: 50px;
  width: 300px;
}
