{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/none_page_marker.css' %}">
<link rel="stylesheet" href="{% static 'css/item-detail.css' %}">
<link rel="stylesheet" href="{% static 'css/checkout.css' %}">
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
<div class="row">
    <div class="box-element" id="form-wrapper">
        <form id="form">
            <div>
                <div id="user-info">
                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" required placeholder="Name..">
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" name="email" required placeholder="Email..">
                    </div>
                </div>
                
                <div id="shipping-info">
                    <p>Shipping Information:</p>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" required placeholder="Address..">
                        <input class="form-control" type="text" name="city" required placeholder="City..">
                        <input class="form-control" type="text" name="state" required placeholder="State..">
                        <input class="form-control" type="text" name="zipcode" required placeholder="Zip code..">
                        <input class="form-control" type="text" name="country" required placeholder="Country..">
                    </div>
                </div>
                <input id="form-button" type="submit" value="Continue">
            </div>
        </form>
        <div class="box-element hidden" id="payment-info">
            <p>Paypal Options</p>
            <button id="make-payment">Make payment</button>
        </div>
    </div>

    <div class="cart-container">
        <div class="cart-row">
            {% for item in items %}
            <div class="cart-item">
                <img src="{{ item.item.image.url }}" alt="{{ item.item.name }}" id="item-display">
                <div class="cart-item-details">
                    <p>{{item.item.name}}</p>
                    <p>{{item.item.price|floatformat:2}}&#36;</p>
                    <p>Quantity: {{item.quantity}}</p>
                    <p>Size: {{item.item.size}}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <hr>
        <h2>Order summary</h2>
        <hr>
        <h5>Items: {{order.get_cart_items}}</h5>
        <h5>Total:{{order.get_cart_total|floatformat:2}}&#36;</h5>

        <button id="backtocart"><a href="{% url 'cart' %}">&#x2190; &nbsp; &nbsp; Back to Cart </a></button>        
    </div>

</div>

<script>
  var total = '{{order.get_cart_total}}'

  if (user != 'AnonymousUser') {
    document.getElementById('user-info').innerHTML = ''
  }

  var form = document.getElementById('form')
  form.addEventListener('submit', function (e) {
    e.preventDefault()
    console.log('Form Submitted...')
    document.getElementById('form-button').classList.add("hidden")
    document.getElementById('payment-info').classList.remove("hidden")

    var userFormData = {
      'name': null,
      'email': null,
      'total': total,
    }

    var shippingInfo = {
      'address': form.address.value,
      'city': form.city.value,
      'state': form.state.value,
      'zipcode': form.zipcode.value,
      'country': form.country.value,
    }

    if (user == 'AnonymousUser') {
      userFormData.name = form.name.value
      userFormData.email = form.email.value
    }

    
  })

  document.getElementById('make-payment').addEventListener('click', function (e) {
    var userFormData = {
      'name': null,
      'email': null,
      'total': total,
    }

    var shippingInfo = {
      'address': form.address.value,
      'city': form.city.value,
      'state': form.state.value,
      'zipcode': form.zipcode.value,
      'country': form.country.value,
    }

    if (user == 'AnonymousUser') {
      userFormData.name = form.name.value
      userFormData.email = form.email.value
    }

    submitFormData(userFormData, shippingInfo)
  })

  function submitFormData(userFormData, shippingInfo) {
  console.log("payment clicked")

  var url = '/process_order/';
  fetch(url, {
    method: 'POST',
    headers: {
      'Content-type': 'application/json',
      'X-CSRFTOKEN': csrftoken,
    },
    body: JSON.stringify({ 'form': userFormData, 'shipping': shippingInfo })
  })
    .then((response) => response.json())
    .then((data) => {
      console.log('Success:', data);
      alert('Transaction completed');

 
      var cart = {};
      document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/";

      window.location.href = "{% url 'store' %}";
    });
}

</script>



{% endblock %}
