{% extends 'store/main.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/none_page_marker.css' %}">
<link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
<div id="contact-container">
  <p class="title">CUSTOMER SERVICE:</p>
  <p class="small">REVENGECUSTOMERSERVICE@REVENGEOFFICIAL.COM</p>
  <br>
  <p class="title">BUSINESS INQUIRIES:</p>
  <p class="small">BUSINESS@REVENGEOFFICIAL.COM</p>
  <br>
  <p class="small">LOS ANGELES</p>
</div>
{% endblock %}
