{% extends 'store/main.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/none_page_marker.css' %}">
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<form method="POST">
  {% csrf_token %}
  <label for="email">Email</label>
  <input class="logininput" name="email" type="email" >
  <label for="password">Password</label>
  <input class="logininput" name="password" type="password">
  <button>SIGN IN</button>
</form>
{% endblock %}
